*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}

.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: rgb(17, 120, 155);
    transition: all .5s ease;
}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background-color: black;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}

ul li:hover a{
    padding-left: 50px;
}

.sidebar ul a i{
    margin-right: 16px;
}

#check{
    display: none;
}

label #btn, label #cnc{
    position: absolute;
    cursor: pointer;
    background-color: black;
    border-radius: 3px;

}

label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #cnc{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: white;
    padding: 4px 9px;
    transition: all .5s ease;
}

:checked ~ .sidebar{
    left: 0;
}

:checked ~ label #cnc{
    left: 195px;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
    padding: 15px 9%;
    left: 350px;
    padding-bottom: 100px;
}

:checked ~ .container{
    padding: 30px 18%;
    left: 400px;
    transition: all .5s ease;
}
