<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Notifications</title>
    <link rel="stylesheet" type="text/css" href="notifications.css">
</head>
<body>
    <h1>Employee Notifications</h1>
    <section>
        <h2 class="new-notification">New Notifications</h2>
        <ul id="newNotifications"></ul>
    </section>
    <section>
        <h2 class="archieved">Archived Notifications</h2>
        <ul id="archivedNotifications"></ul>
    </section>
    <script src="notifications.js" type="module"></script>
</body>
</html>