body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    /* stick at bottom */
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2%;
}

label {
    display: block;
    margin: 0.5rem 0;
  }

input{
    display: block;
}