<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Relations Management</title>
    <link rel="stylesheet" type="text/css" href="./homepage/Home.css">
    <script src="./homepage/script.js" defer></script>
</head>
<body>
    <main>
        <div>
            <img src="./homepage/aviato.png" id="logo">
            <figcaption>Staff Relations Management Agent</figcaption>
        </div>
        <button>Login</button>
    </main>
</body>
</html>