<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Relations Management</title>
    <link rel="stylesheet" type="text/css" href="./homepage/Home.css">
    <script src="./homepage/script.js" defer></script>
</head>

<body>
    <header>
        <ul id="info">
            <li><a>Home</a></li>
            <li><a>Features</a></li>
            <li><a>Contacts</a></li>
        </ul>
        <ul id="login">
            <li>
                <a href="/signin">Login | Signup</a>
            </li>
        </ul>
    </header>
    <main>
        <section id="home">
            <article id="scrambled">In They also need to  As such, with different ways of
                environments  own health ensure that there is today&apos;s working  many employers are experimenting world, companies offer a variety of incentives to their staff. More importantly,
                companies aspects of employee relations of their employees has the potential to directly
                impact their bottom-line. As such,s such, with different ways with different ways of
                environments  own men health ensure that there is today&apos;s working  many employers are experimenting world, companies offer a variety of incentives to their staff. More importantly,
                companies have realised health aspects of employee relations of their employees has the potential to directly
                impact theirental In ies have realised health aspects of employee relations of their employees has the potential to directly
                impact theirental In addition to this, companies need constant and making employees aware of their data on the time each employee spend on tasks so
                they different w. healthier can bill
                In addition to this, companies mental In addition to this, companies need constant and making employees aware of their data on the time each employee spend on tasks so
                they  health
                environments creating bottom-line. As such,  need constant and making employees aware of their data on the time each employee spend on tasks so
                they  creating work  appropriately an their clients can/own mental performance of constant feedback healthor manage the finances and capacity in the company.
                 a culture staff. Managing all thesr clients  be cumbersome</article>
                
                <article id="arrow"> </article>
                
                <article id="unscrambled">In today’s working world, companies offer a variety of incentives to their staff. More importantly,
                    companies have realised that the <span>mental health</span> of their employees has the potential to directly
                    impact their bottom-line. As such, many employers are experimenting with different ways of
                    creating healthier work environments and making employees aware of their own mental health.
                    In addition to this, companies need constant data on the time each employee spend on tasks so
                    they can bill their clients appropriately an/or <span>manage</span> the finances and capacity in the company.
                    They also need to ensure that there is a <span>culture</span> of constant performance feedback given to their
                    staff. Managing all these aspects of employee relations can be cumbersome. </article>
        </section>
        <article id="solution">This project aims to equip the companies with a central place to manage all staff-relations in
            order to make staff-relations easier</article>
        <article id="solution2">. &nbsp; Staff Relations Mangement provides a platform for Mindful and Agile Work!</article>
    </main>
</body>
</html>